<table>
  <thead>
    <tr>
      <th><a href="javascript: void(0);" (click)="doSort('id')" [ngClass]="getButtonClass('id')"><span>ID</span></a></th>
      <th><a href="javascript: void(0);" (click)="doSort('make')" [ngClass]="getButtonClass('make')"><span>Make</span></a></th>
      <th><a href="javascript: void(0);" (click)="doSort('model')" [ngClass]="getButtonClass('model')"><span>Model</span></a></th>
      <th><a href="javascript: void(0);" (click)="doSort('year')" [ngClass]="getButtonClass('year')"><span>Year</span></a></th>
      <th><a href="javascript: void(0);" (click)="doSort('color')" [ngClass]="getButtonClass('color')"><span>Color</span></a></th>
      <th><a href="javascript: void(0);" (click)="doSort('price')" [ngClass]="getButtonClass('price')"><span>Price</span></a></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let car of cars">
      <tr class="car-view-row" *ngIf="car.id !== editCarId" [car]="car" (editCar)="editCar.emit($event)" (deleteCar)="removeCar($event)"></tr>
      <tr class="car-edit-row" *ngIf="car.id === editCarId" [car]="car" (saveCar)="saveCar.emit($event)" (cancelCar)="cancelCar.emit()"></tr>
    </ng-container>
  </tbody>
</table>
