table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

table th, td {
  padding: 8px;
  text-align: center
}

th {
  border-bottom: solid 2px #000;
}

td {
  border-bottom: solid 1px #000;
}
