<table>
  <thead>
    <tr>
      <th><a href="javascript: void(0);" (click)="doSort('id')"><span>ID</span></a></th>
      <th><a href="javascript: void(0);" (click)="doSort('make')"><span>Make</span></a></th>
      <th><a href="javascript: void(0);" (click)="doSort('model')"><span>Model</span></a></th>
      <th><a href="javascript: void(0);" (click)="doSort('year')"><span>Year</span></a></th>
      <th><a href="javascript: void(0);" (click)="doSort('color')"><span>Color</span></a></th>
      <th><a href="javascript: void(0);" (click)="doSort('private')"><span>Price</span></a></th>
      <th><a href="javascript: void(0);" (click)="doSort('actions')"><span>Actions</span></a></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let car of sortedCars">
      <tr class="car-view-row" *ngIf="car.id !== editCarId" [car]="car" (editCar)="editCar.emit($event)" (deleteCar)="removeCar($event)"></tr>
      <tr class="car-edit-row" *ngIf="car.id === editCarId" [car]="car" (saveCar)="saveCar.emit($event)" (cancelCar)="cancelCar.emit()"></tr>
    </ng-container>
  </tbody>
</table>
