<app-color-home></app-color-home>
<app-car-home></app-car-home>
<!-- <app-typeahead-demo></app-typeahead-demo> -->
<!-- <app-counter-container></app-counter-container> -->
<!-- <app-trackby-demo></app-trackby-demo> -->
<!-- <app-page-layout>
  <div page-header>
    <h1>The tool</h1>
  </div>
  <div page-content>
    <p>Lorem ipsum dolor sit amet consectitur</p>
  </div>
  <div page-footer>
    <p>Lorem ipsum dolor sit amet consectitur</p>
  </div>
</app-page-layout> -->
<!-- <app-contact-form></app-contact-form> -->
