:root {
    --main-color: #1a1a1a;
    --border-color: #ccc;
    --button-color: #999;
    --background-color: #f9f9f9;
    --font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 1120px;
    padding: 40px;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: var(--font-family);
    color: var(--main-color);
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin-top: 0;
}

form {
    margin: 0 0 2em;
    width: 25%;
    min-width: 256px;
}

form > div {
    margin-bottom: 0.5em;
}

label {
    display: block;
    font-size: 87.5%;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input[type = 'text'],
input[type = 'number'] {
    font-family: var(--font-family);
    font-size: 1em;
    line-height: 1;
    margin: 0 0 1em;
    padding: 0.5em;
    border: solid 1px var(--border-color);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

input[type = 'text']:hover,
input[type = 'number']:hover,
input[type = 'text']:focus,
input[type = 'number']:focus {
    border-color: var(--main-color);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 2em;
    table-layout: fixed;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom-color: var(--border-color);
    border-bottom-style: solid;
    vertical-align: baseline;
}

th {
    border-bottom-width: 2px;
}

td {
    padding: 8px;
    text-align: center;
}

tr:not(:last-of-type) td {
    border-bottom-width: 1px;
}

tr:last-of-type td {
    border-bottom: 0;
}

button {
    cursor: pointer;
    border-radius: 4px;
    line-height: 1.25;
    background: #fff;
    padding: 8px 16px;
    font-family: inherit;
    font-size: inherit;
    color: var(--main-color);
    border: solid 1px var(--main-color);
}

button:hover,
button:focus {
    background: var(--background-color);
}

button:hover span,
button:focus span {
    border-bottom: solid 1px var(--main-color);
}

button:active {
    background: var(--main-color);
    color: #fff;
}

button:active span {
    border-bottom-color: #fff;
}

ul {
    margin-bottom: 2em;
}

th a {
    position: relative;
    color: var(--main-color);
    text-decoration: none;
    padding: 8px 24px 8px 16px;
    margin-left: 8px;
}

th a:hover span,
th a:focus span {
    border-bottom: solid 1px var(--main-color);
}

td button:not(:last-of-type) {
    margin-right: 8px;
}

th a::after {
    display: block;
    border-right: solid 4px transparent;
    border-left: solid 4px transparent;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -2px;
}

th a:hover:not(.desc)::after,
th a:focus:not(.desc)::after {
    content: '';
    border-top: solid var(--button-color) 4px;
}

th a.active:not(.desc)::after {
    content: '';
    border-top: solid var(--main-color) 4px;
}

th a.active.desc::after {
    content: '';
    border-bottom: solid var(--main-color) 4px;
}

table tr td button {
    border: 0;
    padding: 8px;
}

table tr td button:hover, 
table tr td button:focus {
    background: transparent;
}

table tr td button:active {
    color: var(--main-color);
    background: transparent;
}

table tr td button:active span {
    border-bottom-color: var(--main-color);
}

table input[type = 'text'],
table input[type = 'number'] {
    margin-bottom: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}